.container.testimonial-container {
  width: 40%;
  padding: 4rem;
}
.client-avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}
.client_review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}
/* .swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
} */

/* .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
} */

/* .swiper-button-next,
.swiper-button-prev {
  /* background-color: white; */
/* background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 9px;
  color: #000 !important;
  /* fill: black !important;
  stroke: black !important; */
/* } */
*/ */ @media screen and (max-width: 1024px) {
  .container.testimonial-container {
    width: 60%;
  }
}
@media screen and (max-width: 625px) {
  .container.testimonial-container {
    width: 100%;
  }
  .client_review {
    width: var(--container-width-sm);
  }
}
